<head>
  <title>{title}</title>
  <meta name="description" content="mayer.cool">
  <meta name="author" content="Dan Mayer">
  <meta property="og:title" content="{title}"/>
  <meta property="og:description" content="mayer.cool" />
  <meta property="og:image" content="http://www.mayer.cool/boats.jpeg" />
  <meta property="og:url" content="https://www.mayer.cool/{path}" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="mayer.cool">
  <meta name="twitter:title" content="{title}">
  <meta name="twitter:description" content="mayer.cool">
  <meta name="twitter:creator" content="@dan__mayer">
  <meta name="twitter:site" content="@dan__mayer">
  <meta name="twitter:image" content="http://www.mayer.cool/boats.jpeg">
</head>
