
<div id="webrings" style="width: 100%; display: table;">
    <div style="display: table-row;">
        <div style="width: 50%; display: table-cell; padding-top: 1ch;">
            <a href='https://users3.smartgb.com/g/g.php?a=s&i=g36-36443-57'>Sign My Guestbook</a>
        </div>
        <div style="display: table-cell; width: 50%; padding-top: 1ch; padding-bottom: 1ch;">
            <a href='https://webring.recurse.com'"><img src='/recurse.png' width='30' alt='Recurse Center Webring' style="margin: 0; float:right;"></a>
        </div>
    </div>
</div>
